<section class="fondo">
    <div class="overlay"></div>
    <h1>Formulario de reserva</h1>
    
    <form>
        <div class='field'>
            <label>ID</label>
            <input name='nombre' type='name'  autocomplete />
        </div>
        <div class='field'>
            <label>Nombre</label>
            <input name='apellidos' type='name' autocomplete />
        </div>
        <div class='field'>
            <label>Apellidos</label>
            <input name='apellidos' type='name' autocomplete />
        </div>
        <div class='field'>
            <label>Restaurante</label>
            <select name='estadoLaboral' required>
                <option selected disabled>Sel. una opción</option>
                <option>La Provinvia</option>
                <option>Balsamico</option>
            </select>
        </div>
        <div class='field'>
            <label>Fecha reserva</label>
            <input name='Fecha' type='date' autocomplete />
        </div>
        <div class='field'>
            <label>Hora</label>
            <input name='Contraseña' type='time' autocomplete />
        </div>
        <div class='field'>
            <label>Número de personas</label>
            <input name='Telefono' type='number' autocomplete />
        </div>
        <div class='field'>
            <label>Celular</label>
            <input name='text' type='text' autocomplete />
        </div>
        <div class='field'>
            <label>Correo</label>
            <input name='Email' type='email' autocomplete />
        </div>
        <div class='submit'>
            <button>
                RESERVAR
            </button>
        </div>
    </form>
    
</section>