.container{

  background-image: url(/assets/imagenes/lareserva.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 150px;
}